#parse("base.html")
#@mainLayout()
<h1>Home Template</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>State</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <a href="/things/$id?action=toggle">
            #if ($light.isLightOn())
            Toggle Off
            #else
            Toggle On
            #end
        </a>
        #foreach ($t in $things)
            <tr>
                <td>
                    <a href="/things/$velocityCount">$velocityCount</a>
                </td>
                <td>$t.getTypeName()</td>
                <td>$t.getName()</td>
                <td>$t.getState().name()</td>
                <td>$t.getDescription()</td>


            </tr>
        $t.getName()
        #end
    </tbody>
</table>
#end
